
.netban{
    color:white;
    object-fit:contain;
    height:448px;
}

.netban_contents{
    margin-left:30px;
    padding-top:140px;
    height:190px;
}

.netban_title{
    font-size:3rem;
    font-weight:800;
    padding-bottom:0.3rem;
}

